.container{
  height: 100%;
  align-content: center;
}

.card{
  height: 300px;
  margin-right: 226px;
  margin-top: 230px;
  margin-bottom: auto;
  width: 500px;
  background-color: rgba(0,0,0,0.5);
}

.social_icon span{
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
}

.social_icon span:hover{
  color: white;
  cursor: pointer;
}

.card-header h3{
  margin-left: 181px;
  color: white;
  letter-spacing: 6px;
}

.social_icon{
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span{
  width: 50px;
  background-color: aqua;
  color: black;
  border:0 ;
}
#css span{
  width: 50px;
  background-color: red;
  color: black;
  border:0 ;
}
#css2 span{
  width: 50px;
  background-color: red;
  color: black;
  border:0 ;
}

input:focus{
  outline: 0 0 0 0 ;
  box-shadow: 0 0 0 0 ;

}

.remember{
  color: white;
}

.remember input
{
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn_valid{
  color: black;
  background-color: aqua;
  width: 100px;
}
.login_btn_invalid{
  color: black;
  background-color: red;
  width: 100px;
}

.login_btn_valid:hover{
  color: black;
  background-color: white;
}

.links{
  color: white;
}

.links a{
  margin-left: 4px;
}
.error {
  margin-top: 40px;
  color: white;
  background-color: rgba(57, 6, 0, 0.71);
  font-size: 22px;
  /*border-radius: 100px;*/
}
