<div class="containter">
  <div class="row">
    <div class="col-lg-10 col-md-10 ml-auto mr-auto">
      <div class="card-header">
        <i class="fas fa-project-diagram Project"></i>Projects
      </div>
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr class="design">
                <th class="text-center border-0">#</th>
                <th class="border-0">Title</th>
                <th class="border-0">Requirements</th>
                <th class=" border-0" >Image</th>
                <th class=" border-0">Customer</th>
                <th class=" border-0">Domain</th>
                <th class=" border-0">Feedback</th>
                <th class=" border-0">Technologies</th>
                <th class=" border-0">Services</th>
                <th class="text-right border-0">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let project of Projects.data; let int = index" class="design2">
                <td class="text-center">{{int + 1}}</td>
                <td>{{project.title}}</td>
                <td>{{project.requirements}}</td>
                <td >{{project.coverImage}}</td>
                <td >{{project.customer_id}}</td>
                <td >{{project.domain}}</td>
                <td >{{project.feedbacks}}</td>
                <td >{{project.technologies}}</td>
                <td >{{project.services_id}}</td>
                <td class="td-actions text-right">
                  <button type="button" class="border-0 btn edit btn-just-icon btn-sm" data-toggle="modal" data-target="#myModal" (click)="getNumber(Projects.id)">
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                  <button type="button" rel="tooltip" class="btn delete btn-just-icon btn-sm " (click)="onDelete(project.id, int)">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <ul class="pagination-custom text-right">
        <li class="pag-link"><a (click)="onClick(Projects?.meta?.pagination?.current_page - 1)"><i class="fa fa-angle-double-left"></i></a></li>
        <li class="pag-link" *ngFor="let item of createRange(Projects?.meta?.pagination?.total_pages); let i = index">
          <a (click)="onClick(i + 1)">{{i + 1}}</a></li>
        <li class="pag-link"><a (click)="onClick(Projects?.meta?.pagination?.current_page + 1)"><i class="fa fa-angle-double-right"></i></a></li>
      </ul>
    </div>
  </div>
</div>


