.modal-content{
  margin-top: 200px;
}
.modal-header{
  background-color: black
}
i{
  color: red;
}
.modal-title {
  margin-left: 144px;
  color: white;
}
.close{
  text-shadow: none;
}
.form-group.margin{
  margin: 0px;
}
.modal-body{
  background-color: transparent;
}
